@import "tailwindcss";
@import "tw-animate-css";

@source "./layout";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-6: var(--chart-6);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-positive: var(--positive);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-border-smooth: var(--border-smooth);
	--color-button-active: var(--button-active);
	--color-button-hover: var(--button-hover);
	--color-link: var(--link);
	--color-link-hover: var(--link-hover);
	--color-link-active: var(--link-active);
	--color-link-visited: var(--link-visited);
	--color-muted-strong: var(--muted-strong);
	--color-accent-strong: var(--accent-strong);
	--color-attention: var(--attention);

	--animate-rotate: var(--rotate);

	--font-inter: var(--loaded-font-inter);
	--font-var-inter: InterVariable, Inter, sans-serif;
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: #000000;
	--muted: rgb(0 0 0 / 30%);
	--muted-foreground: oklch(0.556 0 0);
	--accent: hsl(251, 100%, 64%);
	--accent-foreground: white;
	--destructive: oklch(0.52 0.21 26.58);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--positive: green;
	--ring: oklch(0.708 0 0);
	--chart-0: #d8ccf6;
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--chart-6: #067d02;
	--chart-red: #d9534f;
	--chart-6: #067d02;
	--chart-7: #3d0cac;
	--chart-8: #330095;
	--chart-9: #320081;
	--chart-10: #31006e;
	--chart-11: #310064;
	--chart-12: #31005a;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--simple-scrollbar-active-thumb-color: #7e7e7e;
	--simple-scrollbar-thumb-color: #a4a4a4;
	--simple-scrollbar-width: 12px;
	--attention: #a47800;

	--border-smooth: color-mix(in lab, #000 15%, transparent);
	--button-active: color-mix(in oklab, #000 15%, transparent);
	--button-hover: color-mix(in oklab, #000 10%, transparent);
	--accent-strong: hsl(260, 78%, 50%);
	--muted-strong: rgb(159 159 159 / 55%);

	--rotate: rotate 10s linear infinite;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		font-family: InterVariable, Inter, sans-serif;
		font-feature-settings: "liga" 1, "calt" 1, "dlig" 1, "case" 1, "zero" 1,
			"ss02" 1, "GRAD" 150;

		::selection {
			background-color: var(--color-accent);
			color: #fff;
		}

		@apply tabular-nums;

		content-visibility: auto;
		/* the element will start out with a 1000px intrinsic sizing in each dimension, but once the element's contents are rendered, it will retain the rendered intrinsic size. Any subsequent rendering size changes will also be remembered. In practice, this means that if you scroll an element with content-visibility: auto applied, and then scroll it back offscreen, it will automatically retain its ideal width and height, and not revert to the placeholder sizing. This feature is especially useful for infinite scrollers, which can now automatically improve sizing estimation over time as the user explores the page. */
		contain-intrinsic-size: auto 1000px;
	}
}

@utility button-hover {
	@apply hover:bg-button-hover active:bg-button-active disabled:opacity-50;
}

@utility button-hover-accent {
	@apply hover:bg-accent/90 hover:text-white active:bg-accent-strong active:text-white disabled:opacity-50;
}

@utility link {
	@apply text-link hover:text-link-hover active:text-link-active visited:text-link-visited;
}

@utility simple-scrollbar {
	overflow: auto;

	&::-webkit-scrollbar {
		height: var(--simple-scrollbar-width);
		width: var(--simple-scrollbar-width);
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--simple-scrollbar-width);
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: content-box var(--simple-scrollbar-thumb-color);
		border-radius: var(--simple-scrollbar-width);
		border: 2px solid transparent;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: content-box var(--simple-scrollbar-active-thumb-color);

	}

	&::-webkit-scrollbar-thumb:active {
		background: content-box var(--simple-scrollbar-active-thumb-color);

	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

[data-sonner-toaster] [data-description] {
	color: var(--color-foreground) !important;
}

@utility dot-with-animation {
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin-right: 3px;
	animation: wave 1.3s linear infinite;

	&:nth-child(2) {
		animation-delay: -1.1s;
	}

	&:nth-child(3) {
		animation-delay: -0.9s;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg) scale(10);
	}

	to {
		transform: rotate(-360deg) scale(10);
	}
}

@keyframes wave {
	0%,
	60%,
	100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

@utility dot-with-animation {
	display: inline-block;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	margin-right: 3px;
	animation: wave 1.3s linear infinite;

	&:nth-child(2) {
		animation-delay: -1.1s;
	}

	&:nth-child(3) {
		animation-delay: -0.9s;
	}
}

@keyframes wave {
	0%,
	60%,
	100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}
